body {
  margin: 0;
  padding: 0;

  #root {
    max-width: 1120px;
    margin: auto;
    font-family: "Source Serif 4", serif;
    font-weight: 500;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Libre Franklin", sans-serif;
      font-weight: 600;
    }
  }
}
