.about {
  position: relative;

  &__timeline {
    position: absolute;
    content: "";

    &__main {
      &--merge {
        transform: scaleY(0);
        stroke-dasharray: 250px;
        stroke-dashoffset: 250px;
      }

      &--checkout {
        stroke-dasharray: 65px;
        stroke-dashoffset: 65px;
      }
    }

    &__secondary {
      stroke-dasharray: 240px;
      stroke-dashoffset: 240px;
    }

    &__dot {
      &--branch {
        opacity: 0;
      }

      &--checkout {
        opacity: 0;
      }

      &--merge {
        opacity: 0;
      }
    }
  }

  &__content {
    padding-top: 9vh;

    .tooltip {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 1em;
        height: 1em;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: #21496b;
      }
    }
  }
}
