.banner {
  position: relative;
  // padding-top: 100px;

  &__content {
    position: relative;
    width: 100%;

    &__image {
      width: 250px;
      height: 300px;
      border-radius: 20px;
    }

    &__text {
      padding: 20px;
    }
  }

  &__timeline {
    z-index: -1;
    position: absolute;

    &__leaf {
      stroke: #506c64;

      &--fill {
        fill: #506c64;
        opacity: 0.9;
      }
    }

    &__hyperspace {
      stroke: #f3b13e;
      animation: animate-hyperspace 2s infinite ease-in;
    }
  }
}

