.contact {
  position: relative;

  &__timeline {
    position: absolute;
    content: "";

    &__main {
      &--merge {
        transform: scaleY(0);
        stroke-dasharray: 250px;
        stroke-dashoffset: 250px;
      }

      &--checkout {
        stroke-dasharray: 65px;
        stroke-dashoffset: 65px;
      }
    }

    &__secondary {
      stroke-dasharray: 240px;
      stroke-dashoffset: 240px;
    }

    &__dot {
      &--branch {
        opacity: 0;
      }

      &--checkout {
        opacity: 0;
      }

      &--merge {
        opacity: 0;
      }
    }
  }

  &__content {
    padding-top: 9vh;
    z-index: 1;

    &__button {
      padding: 0.75em;
      background: #fdfffc;
      box-shadow: 5px 5px 10px #dddfdd, -5px -5px 10px #ffffff;
      &:hover {
        box-shadow: inset 5px 5px 10px #dddfdd, inset -5px -5px 10px #ffffff;
      }
    }
  }
}
