.footer {
  position: relative;
  min-height: 50vh;

  &__timeline {
    position: absolute;
    top: 0;
    content: "";

    &__road {
      stroke-dasharray: 110px;
      stroke-dashoffset: 110px;
    }

    &__dot {
      opacity: 0;
    }
  }
}
