.timeline {
  position: absolute;
  content: "";
  z-index: -1;

  &__main {
    &--merge {
      transform: scaleY(0);
      stroke-dasharray: 300px;
      stroke-dashoffset: 300px;
    }

    &--checkout {
      stroke-dasharray: 80px;
      stroke-dashoffset: 80px;
    }
  }

  &__secondary {
    stroke-dasharray: 270px;
    stroke-dashoffset: 270px;
  }

  &__dot {
    &--branch {
      opacity: 0;
    }

    &--checkout {
      opacity: 0;
    }

    &--merge {
      opacity: 0;
    }
  }
}
