@function lightness-shift($colour) {
  @if (lightness($colour) < 25%) {
    @return lighten($colour, 90%);
  } @else {
    @return darken($colour, 90%);
  }
}

@function backgroundInvert($background-color) {
  @if ($background-color == map-get($background-colors, dark)) {
    @return map-get($background-colors, light);
  } @else {
    @return map-get($background-colors, dark);
  }
}

// LOGO - LIGHT THEME
@keyframes animate-path-light {
  0% {
    stroke-dashoffset: 700px;
  }
  70% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: map-get($background-colors, dark);
  }
}

@keyframes animate-path-inside-light {
  0% {
    stroke-dashoffset: 700px;
    fill: map-get($background-colors, light);
  }
  100% {
    stroke-dashoffset: 0;
    fill: map-get($background-colors, light);
  }
}

@keyframes animate-circle-light {
  0% {
    stroke-dashoffset: 150px;
  }
  70% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: map-get($background-colors, dark);
  }
}

// LOGO - DARK THEME
@keyframes animate-path-dark {
  0% {
    stroke-dashoffset: 700px;
  }
  70% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: map-get($background-colors, light);
  }
}

@keyframes animate-path-inside-dark {
  0% {
    stroke-dashoffset: 700px;
    fill: map-get($background-colors, dark);
  }
  100% {
    stroke-dashoffset: 0;
    fill: map-get($background-colors, dark);
  }
}

@keyframes animate-circle-dark {
  0% {
    stroke-dashoffset: 150px;
  }
  70% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: map-get($background-colors, light);
  }
}

// TIMELINE BANNER - DARK THEME

@keyframes animate-hyperspace-right__1 {
  0% {
    opacity: 1;
    transform: translate(0.5em) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translate(0) translateY(0.2em);
  }
}

@keyframes animate-hyperspace-left__1 {
  0% {
    opacity: 1;
    transform: translate(-0.5em) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translate(0) translateY(0.2em);
  }
}

@keyframes animate-hyperspace-right__2 {
  0% {
    opacity: 1;
    transform: translate(0.3em) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translate(0) translateY(0.2em);
  }
}

@keyframes animate-hyperspace-left__2 {
  0% {
    opacity: 1;
    transform: translate(-0.3em) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translate(0) translateY(0.2em);
  }
}

@keyframes animate-hyperspace-right__3 {
  0% {
    opacity: 1;
    transform: translate(0.6em) translateY(-0.2em);
  }
  100% {
    opacity: 0;
    transform: translate(0) translateY(0.2em);
  }
}

@keyframes animate-hyperspace-left__3 {
  0% {
    opacity: 1;
    transform: translate(-0.6em) translateY(-0.2em);
  }
  100% {
    opacity: 0;
    transform: translate(0) translateY(0.2em);
  }
}

@keyframes animate-hyperspace-right__4 {
  0% {
    opacity: 1;
    transform: translate(0.6em) translateY(-0.3em);
  }
  100% {
    opacity: 0;
    transform: translate(0) translateY(0.1em);
  }
}

@keyframes animate-hyperspace-left__4 {
  0% {
    opacity: 1;
    transform: translate(-0.6em) translateY(-0.3em);
  }
  100% {
    opacity: 0;
    transform: translate(0) translateY(0.1em);
  }
}

@keyframes animate-hyperspace-right__5 {
  0% {
    opacity: 1;
    transform: translate(0.8em) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translate(0) translateY(0.3em);
  }
}

@keyframes animate-hyperspace-left__5 {
  0% {
    opacity: 1;
    transform: translate(-0.8em) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translate(0) translateY(0.3em);
  }
}

// STARS BEHIND - DARK THEME

@keyframes animate-stars {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  50% {
    transform: scaleX(1.5) scaleY(1.5);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
