$primary-color: #0a2647;
$secondary-color: #fdfffc;

$branch-colors: (
  first: #8c271e,
  first--dark: #fdfffc,
  second: #c72a8c,
  third: #5abf3d,
);

$background-colors: (
  dark: #101420,
  light: #fdfffc,
);

$social-colors: (
  github: #000000,
  linkedin: #2b6599,
);

$background-color: map-get($background-colors, dark);

// GREEN : #506C64

// BLANC : #FDFFFC

// ROUGE : #8C271E

// BLUE LIGHT : #4D9DE0

// JAUNE : #f3b13e
