$primary-color: #0a2647;
$secondary-color: #FDFFFC;

$branch-colors: (
  first: #8C271E,
  first--dark: #FDFFFC,
  second: #c72a8c,
  third: #5abf3d,
);

$background-colors: (
  dark: #101420,
  light: #FDFFFC,
);

$background-color: map-get($background-colors, dark);

// GREEN : #506C64

// BLANC : #FDFFFC

// ROUGE : #8C271E

// BLUE LIGHT : #4D9DE0

// JAUNE : #f3b13e