.header {
  position: fixed;
  max-width: 1120px;
  width: 100%;
  z-index: 2;
  padding: 0 25px;

  &__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75px;
    height: 75px;

    stroke-dasharray: 700px;
    stroke-dashoffset: 700px;

    circle {
      stroke-dasharray: 150px;
      stroke-dashoffset: 150px;
    }
  }
}
