@import "utils/variables";
@import "utils/functions";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .primary-color {
    color: $primary-color;
  }
  .secondary-color {
    color: $secondary-color;
  }

  .bg-light {
    background: map-get($background-colors, light);
  }

  .bg-dark {
    background: map-get($background-colors, dark);
  }

  .stroke-light {
    stroke: map-get($background-colors, light);
  }

  .stroke-dark {
    stroke: map-get($background-colors, dark);
  }

  .fill-light {
    fill: map-get($background-colors, light);
  }

  .fill-dark {
    fill: map-get($background-colors, dark);
  }

  .fill-branch-first-light {
    fill: map-get($branch-colors, first);
  }

  .fill-branch-first-dark {
    fill: map-get($branch-colors, first--dark);
  }

  .stroke-branch-first-light {
    stroke: map-get($branch-colors, first);
  }

  .stroke-branch-first-dark {
    stroke: map-get($branch-colors, first--dark);
  }

  .shadow-branch-first-light {
    filter: drop-shadow(
      0.1em 0 0.05em lighten(map-get($branch-colors, first), 50%)
    );
  }

  .shadow-branch-first-dark {
    filter: drop-shadow(
      0 0 0.05em lighten(map-get($background-colors, dark), 60%)
    );
  }

  .fill-branch-second-light {
    fill: map-get($branch-colors, second);
  }

  .fill-branch-second-dark {
    fill: map-get($branch-colors, second);
  }

  .stroke-branch-second-light {
    stroke: map-get($branch-colors, second);
  }

  .stroke-branch-second-dark {
    stroke: map-get($branch-colors, second);
  }

  .shadow-branch-second-light--checkout {
    filter: drop-shadow(
      0 0.1em 0.05em lighten(map-get($branch-colors, second), 30%)
    );
  }

  .shadow-branch-second-dark--checkout {
    filter: drop-shadow(
      0 0 0.05em lighten(map-get($branch-colors, second), 10%)
    );
  }

  .shadow-branch-second-light {
    filter: drop-shadow(
      0 0 0.05em lighten(map-get($branch-colors, second), 30%)
    );
  }

  .shadow-branch-second-dark {
    filter: drop-shadow(
      0 0 0.05em lighten(map-get($branch-colors, second), 10%)
    );
  }

  .animate-path-dark {
    animation: animate-path-dark 1.3s forwards ease-in;
  }

  .animate-path-light {
    animation: animate-path-light 1.3s forwards ease-in;
  }

  .animate-path-inside-dark {
    animation: animate-path-inside-dark 1.3s forwards ease-in;
  }

  .animate-path-inside-light {
    animation: animate-path-inside-light 1.3s forwards ease-in;
  }

  .animate-circle-dark {
    animation: animate-circle-dark 1.3s forwards ease-in;
  }

  .animate-circle-light {
    animation: animate-circle-light 1.3s forwards ease-in;
  }
}

@layer components {
  .neomorphism--light {
    background: map-get($background-colors, light);
    box-shadow: 5px 5px 10px lighten(map-get($background-colors, dark), 80%),
      -5px -5px 10px lighten(map-get($background-colors, light), 75%);
    &:hover {
      box-shadow: inset 5px 5px 10px
          lighten(map-get($background-colors, dark), 80%),
        inset -5px -5px 10px lighten(map-get($background-colors, light), 75%);
    }
  }

  .hero__neomorphism--light {
    background: map-get($background-colors, light);

    box-shadow: 2px 2px 10px darken(#0ea5e9, 15%);
    &:hover {
      box-shadow: inset 5px 5px 10px
          lighten(map-get($background-colors, dark), 80%),
        inset -5px -5px 10px lighten(map-get($background-colors, light), 75%);
    }
  }

  .social-git__neomorphism--light {
    background: map-get($social-colors, github);
    box-shadow: 1px 1px 5px map-get($social-colors, github),
      -1px -1px 5px lighten(map-get($background-colors, dark), 40%);
    &:hover {
      box-shadow: inset 1px 1px 5px map-get($social-colors, github),
        inset -1px -1px 5px lighten(map-get($background-colors, dark), 40%);
    }
  }

  .social-linkedin__neomorphism--light {
    background: map-get($social-colors, linkedin);
    box-shadow: 1px 1px 5px map-get($social-colors, linkedin),
      -1px -1px 5px lighten(map-get($background-colors, dark), 20%);
    &:hover {
      box-shadow: inset 1px 1px 5px map-get($social-colors, linkedin),
        inset -1px -1px 5px lighten(map-get($background-colors, dark), 50%);
    }
  }

  .neomorphism--dark {
    background: map-get($background-colors, dark);
    box-shadow: 5px 5px 10px darken(map-get($background-colors, dark), 80%),
      -5px -5px 10px lighten(map-get($background-colors, dark), 10%);
    &:hover {
      box-shadow: inset 5px 5px 10px
          darken(map-get($background-colors, dark), 80%),
        inset -5px -5px 10px lighten(map-get($background-colors, dark), 10%);
    }
  }

  .glass {
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(0.75em);
    -webkit-backdrop-filter: blur(0.75em);
    border-radius: 0.5rem;
    box-shadow: inset 5px 5px 10px
        lighten(map-get($background-colors, dark), 80%),
      inset -5px -5px 10px lighten(map-get($background-colors, light), 75%);
  }

  .glass--dark {
    box-shadow: inset 5px 5px 10px
        darken(map-get($background-colors, dark), 80%),
      inset -5px -5px 10px lighten(map-get($background-colors, dark), 6%);
  }
}

@media (width < 500px) {
  .glass {
    margin-left: min(0.75em);
    margin-right: min(0.75em);
  }
}

@import "base/base";

@import "components/timeline";
@import "components/breadcrumb";
@import "components/socialLink";

@import "layout/header";

@import "pages/hero";
@import "pages/about";
@import "pages/projects";
@import "pages/skills";
@import "pages/contact";
@import "pages/footer";
@import "pages/projectDetails";
