@import "utils/variables";
@import "utils/functions";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .primary-color {
    color: #161616;
  }
  .secondary-color {
    color: #fff;
  }
  .bg-light {
    background-color: #fff;
  }
  .bg-dark {
    background-color: #161616;
  }

  .stroke-light {
    stroke: #fff;
  }

  .stroke-dark {
    stroke: #161616;
  }

  .fill-light {
    fill: #fff;
  }

  .fill-dark {
    fill: #161616;
  }

  .animate-path-dark {
    animation: animate-path-dark 1.3s forwards ease-in;
  }

  .animate-path-light {
    animation: animate-path-light 1.3s forwards ease-in;
  }

  .animate-path-inside-dark {
    animation: animate-path-inside-dark 1.3s forwards ease-in;
  }

  .animate-path-inside-light {
    animation: animate-path-inside-light 1.3s forwards ease-in;
  }

  .animate-circle-dark {
    animation: animate-circle-dark 1.3s forwards ease-in;
  }

  .animate-circle-light {
    animation: animate-circle-light 1.3s forwards ease-in;
  }
}

@import "base/base.scss";

@import "components/timeline";

@import "layout/header";
@import "layout/footer";

@import "pages/banner";
@import "pages/about";
@import "pages/projects";
@import "pages/skills";
@import "pages/contact";
